[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
Sphinx = "*"
diagrams = "*"
sphinx-autobuild = "*"

[dev-packages]

[requires]
python_version = "3.8"
